body {
    font-family: "Roboto", Arial, sans-serif;
    background-color: #98eaff;
    color: #000000;
    margin: 0;
    padding: 0;
}

header {
    background-color: #673ab7;
    color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

main {
    max-width: 900px;
    background-color: white;
    margin: 30px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
    color: #0ea7ff;
}

p {
    text-align: justify;
    line-height: 1.7;
}

section {
    margin-top: 40px;
}

.question {
    margin-bottom: 25px;
}

.question h3 {
    font-size: 18px;
    color: #0077ff;
}

.options label {
    display: block;
    margin: 5px 0;
}

textarea {
    width: 100%;
    min-height: 100px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #abf5ff;
    resize: vertical;
}

input[type="radio"] {
    margin-right: 8px;
}

button {
    background-color: #0228ce;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #311b92;
}

footer {
    text-align: center;
    font-size: 14px;
    color: #777;
    margin: 20px 0;
}