* {
    background-color: #fc9483;
    margin: 0;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: beige;
    font-style: italic;
}

img {
    max-width: 100%; 
    height: auto;    
    display: block;
    border-color: burlywood;
    box-shadow: 10px 10px 20px 15px rgba(0, 0, 0, 0.5);  
    

}